{% extends 'plantilla.html' %}

{% block body %}
<!--mensaje con jinja-->
{% with msj = get_flashed_messages() %}
{% if msj %}
{% for mensaje in msj %}
<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 class="text-center mt-5 mb-5 display-4 text-danger">Gestion de Albums</h1>

<div class="row">
    <div class="col-md-5">
        <form action="/guardarAlbum" method="post">

            <label>Titulo:</label>
            <input type="text" name="txtTitulo">

            <label>Artista:</label>
            <input type="text" name="txtArtista">

            <label>Año:</label>
            <input type="number" name="txtAnio">

            <button type="submit">Guardar Album</button>

        </form>
    </div>
    <div class="col-md-7"> <!-- Corrected from clas="col-md-7" to class="col-md-7" -->
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Album</td>
                    <td>Artista</td>
                    <td>Año</td>
                    <td>Operaciones</td>
                </tr>
            </thead>

            <tbody>
                {% for album in albums %}
                <tr>
                    <td>{{ album.id }}</td>
                    <td>{{ album.titulo }}</td>
                    <td>{{ album.artista }}</td>
                    <td>{{ album.anio }}</td>
                    <td>
                        <a href="/editar/{{ album.id }}">Editar</a>
                        <a href="/eliminar/{{ album.id }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}